<div id="listofservice">
    <h3>Available Service</h3>
    <ul class="list-group">
        <li class="list-group-item">Aadhar Apply</li>
        <li class="list-group-item">Update Aadhar</li>
        <li class="list-group-item">Aadhar Status</li>
        <li class="list-group-item">Deletion of Aadhar</li>
    </ul>
</div>
<div id="container">
    <h2>Login Here</h2>
    <form [formGroup]="loginRef" (ngSubmit)="signIn()">
        <label class="form-label">EmailId</label>
        <input type="email" formControlName="emailid" class="form-control"/><br/>
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control"/><br/>
        <label>Type Of User</label>
        <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser" class="form-check-input"/>Admin
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser" class="form-check-input"/>User<br/>
        <input type="submit" value="signIn" class="btn btn-primary"/>
        <input type="reset" value="reset" class="btn btn-secondary"/>
        <a routerLink="/signUp" class="btn btn-success">New User</a>
    </form>
    <br/>
    <span style="color:red">{{msg}}</span>
</div>